*.mode*
build/
obj/
*.o
openFrameworks.a
openFrameworksDebug.a
openFrameworksUniversal.a
*.app/

#rule to avoid non-official addons going into git
#see addons/.gitignore
addons/**

#xcode files
*.pbxuser
*.perspectivev3
apps/examples/*/*.xcodeproj
apps/examples/*/Project.xcconfig
apps/examples/*/openFrameworks-Info.plist
apps/addonsExamples/*/*.xcodeproj
apps/addonsExamples/*/Project.xcconfig
apps/addonsExamples/*/openFrameworks-Info.plist

apps/iphoneAddonsExamples/*/*.xcodeproj
apps/iphoneAddonsExamples/*/Project.xcconfig
apps/iPhoneAddonsExamples/*/ofxiphone-Info.plist
apps/iPhoneAddonsExamples/*/iPhone_Prefix.pch

apps/iphoneExamples/*/*.xcodeproj
apps/iphoneExamples/*/Project.xcconfig
apps/iPhoneExamples/*/ofxiphone-Info.plist
apps/iPhoneExamples/*/iPhone_Prefix.pch
